<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <imranweb7_authorizedotnet>
                <debug>1</debug>
                <active>0</active>
                <cctypes>VI,MC</cctypes>
                <api_login_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <model>Imranweb7\AuthorizeDotNet\Model\AuthorizeDotNet</model>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <test>1</test>
                <title>Test Authorize.Net Credit Card Payment</title>
                <api_trans_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <create_order_before>1</create_order_before>
                <ccfields>x_card_code,x_exp_date,x_card_num</ccfields>
            </imranweb7_authorizedotnet>
        </payment>
    </default>
</config>